@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:700');


$baseFontStack: 'Lato', sans-serif;
$headerFontStack: 'Montserrat', sans-serif;

$green: limegreen;
$lightGrey: #dfdfdf;
$grey: #8a8a8a;
$darkGrey: #2a2a2a;
$highlightGrey: #9a9a9a;
$hoverGrey: #3e3e3e;