@import 'extensions';
@import 'mixins';
@import 'variables';


html,
body {
}

body {
  font-family: $baseFontStack;
  font-size: 16px;
  color: $grey;
  background-color: $background;
  width: 100%;
  margin: 0;
}

a {
  color: $green;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $green;
}

.main-container {
  display: flex;
  justify-content: center;
}

.box {
  position: relative;
  height: calc(100vh - 10px);
  width: 100%;
  max-width: 1120px;
  box-shadow: $boxshadow;
  background-color: $background;

  @include breakpoint('md') {
    margin: 5px;
  }
}


/* Sections */
@import 'sections/intro';
@import 'sections/blog-link';
@import 'sections/home-link';
@import 'sections/contact';
@import 'sections/portfolio';
@import 'sections/post';