@import 'extensions';
@import 'mixins';
@import 'variables';


html,
body {
}

body {
  font-family: $baseFontStack;
  font-size: 16px;
  color: $grey;
  background-color: $darkGrey;
  width: 100%;
  margin: 0;
}

a {
  color: $green;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $green;
}

.main-container {
  display: flex;
  justify-content: center;
}

.box {
  position: relative;
  height: calc(100vh - 10px - 2em);
  max-height: 920px;
  max-width: 1120px;
  margin: 5px;
  padding: 1em;
  box-shadow: 0px 1px 6px $shadow;
}


/* Sections */
@import 'sections/intro';
@import 'sections/blog-link';
@import 'sections/home-link';
@import 'sections/contact';
@import 'sections/portfolio';