.contact {
    margin: 0.5em;
    &__link {
        font-size: 3em;
        margin: 0 0.15em;
        transition: 0.3s color ease-in-out;
    }

    &__link:nth-of-type(2) { /* Resume Icon */
        font-size: 2.5em;
        svg {
            transform: translateY(-5px);
        }
    }

    &__link:hover {
        color: $orange;
    }
}

.tooltip {
    font-family: $baseFontStack !important;
    color: $lightGrey !important;
    font-size: 1em !important;
    background-color: $darkGrey !important;

    &:hover {
        visibility: visible !important;
        opacity: 1 !important;
    }
}
